/*
  Authors: Tabitha Kennedy
  Created Date: April 17, 2015
  Modified Date: April 21, 2015
  Description:
    CSS styles for the portfolio gallery.
*/

article.portarticle {
  margin: 40px 0px;
  padding-top: 0px; /*padding-bottom: 0px;*/
  position: relative;
  display: block;
}
.portarticle h2 {
  text-align: left;
  padding-top: 2rem;
}
.portarticle h2#pdesign {
  padding-top: 0;
}
.portarticle figure {
  /*position: relative;
  display: block;
  float:left;*/
}
.portarticle section {
  /*float:right;*/
}
.portarticle ul {
  display: table;
  padding-left: 0;
  border-collapse: separate;
  /*border-spacing: 0px 40px;*/
}
.portarticle span {
  padding-bottom: 10px;
}
/*.portarticle li:after {
  content: "";
  display: block;
  width: 100%;
  height:40px;
}*/
.portarticle li {
  list-style-type: none;
  /*display: table-row;*/
  margin-top: 40px;
}
.portarticle li div {
  display: table-cell;
  vertical-align: top;
}

.portarticle li div:nth-of-type(2) {
  padding-left: 20px;
}
ul li.notop, ul li img.notop {
  margin-top: 0px;
}
.portarticle img {
  display: block;
  margin-top: 10px;
}
.portarticle h3 {
  font-family: 'Roboto Slab', Georgia, serif;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
.portarticle p {
  margin: 0;
}/**
.portarticle section:after {
  content: "";
  clear: both;
}
.portarticle ul:before {
  clear: both;
}



.portarticle section {
	margin: 35px 0 0 0;
	padding: 0;
	list-style: none;
	position: relative;
	width: 100%;
}

.portarticle section figure {
	position: relative;
	float: left;
	overflow: hidden;
	width: 50%;
	width: -webkit-calc(100% / 2);
	width: calc(100% / 6);
}

.portarticle section figure,
.portarticle section figure img {
	display: block;
	width: 100%;
	cursor: pointer;
}

.portarticle section figure img {
	max-width: 100%;
}
*/


@media screen and (max-width:700px){
  .portarticle li div {display:table-row;}
  /*.portarticle li img {margin-top:40px;}*/
  /*.portarticle li:after {content: "";  display: none;  width: 100%;  height:0%;}*/
  /*.portarticle ul:first-of-type li img {margin:0;}*/
  /*.portarticle li:before {
    content: "";
    display: inline-block;
    width: 100%;
    height:40px;
  }
  .portarticle ul:last-child li:after {
    content: "";
    display: inline-block;
    width: 100%;
    height:0%;
  }*/
}
@media screen and (max-width:400px){
  article.portarticle {margin: 0;}
  .portarticle li img {width:250px;}
  .portvideo {width:250px; height:141px;}
}
