@media print and (min-width: 0px) {

  body {
    color: #000;
    background: #fff;
    text-align: left;
  }
  nav, header input, header label, header section img, .homethumbs, footer div.right {
    display: none;
    visibility: hidden;
  }
  body, article {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
  }
  h2, h3 {
    page-break-after: avoid;
  }
  ul, img {
    page-break-inside: avoid;
  }
  * {
    box-shadow: none;
      -webkit-box-shadow: none;
  }

   @page {
      margin: 2cm;
   }

}
